html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}
p {
  text-align: center;
}

.hello-world {
  margin: 0 auto;
  top: 7px;
  right: 5px;
  position: relative;
  width: 200px;
  height: 200px;
  background: orange;
}

.box1 {
  width: 200px;
  height: 200px;
  position: absolute;
  bottom: 0;
  float: left;
  background: red;
  z-index: 1;

}

.box2 {
  width: 200px;
  height: 200px;
  position: absolute;
  bottom: 10px;
  float: left;
  left: 10px;
  background: rgb(0, 255, 85);
  z-index: 3;

}

.box3 {
    width: 200px;
    height: 200px;
    position: absolute;
    bottom: 20px;
    float: left;
    left: 20px;
    background: rgb(0, 183, 255);
 z-index: 2;
  }